.banner-images{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-field{
    border: 1px solid #FF0066;
    padding: 10px;
    width: 100%;
    border-radius:20px;
}

.search-button{
    color:#fff;
    background-color: #FF0066;
    border-radius: 20px;
    padding: 10px;
    
}